.ant-collapse-content-box{
  padding-block: 0 !important;
}

.ant-collapse-content-box{
  padding: 0 !important;
}

.ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  padding: 0 !important;
}

